body{

     background-color: red;
     color: white;
     align-items: center;
     justify-content: center;
     display: flex;
     font-size: 22px;
     border-radius: 2rem;
     border: 3px solid green;
     font-size: 22px;
     border-radius: 2rem;
     border: 3px solid green;
     font-size: 22px;
     border-radius: 2rem;
     border: 3px solid green;
}